# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Lock the development/test application graph for frozen local and CI setup.
**/doc/api/
.dart_tool/
.flutter-plugins-dependencies
/build/
/coverage/

node_modules/
/.chainman/
/.cache/
example/test-results/
example/playwright-report/
example/test_bundle.dart
